* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#content {
    display: grid;
    place-items: center;
    order: 2;
}

#header {
    background: url('./assets/pho-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 35vh;
}

h1 {
    position: absolute;   
    place-self: center;
    color: white;
}

#header {
    display: grid;
    position: relative;
    order: 1;

}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    color: white;
    gap: 1rem;

    position: absolute;
    bottom: 1rem;
    right: 50%;
    transform: translate(50%);
}

.nav-bar button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(79, 212, 146);
    font-weight: bold;
    font-size: 1.2rem;

    width: 10rem;
    height: 5rem;
}

.nav-bar button.selected {
    text-decoration: underline;
}

#content div:first-child { 
    display: grid;
    place-items: start;
    border: none;
    border-radius: 10px;
    background-color: lightgray;

    width: 60vw;
    padding: 1rem 5rem;
}

